
@tailwind base;
@tailwind components;
@tailwind utilities;


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}



.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s ease;
}



.slide-enter-from,
.slide-leave-to {
  transform: translateX(-100%);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.tr-bg {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

body.b-modal {
  overflow: hidden;
  position: fixed;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}